//
// variables
//


// breakpoint variables
$xxs: 360px;
$xs: 480px;
$s: 566px;
$sm: 600px;
$m: 800px;
$ml: 960px;
$l: 1000px;
$xl: 1200px;
$xxl: 1400px;
$max-width: 950px; // Do not use as a breakpoint, only use on width

// colors
$color-primary: #666; // Dark Grey
$color-secondary: #e2e2e2; // ioght grey
$color-text: #aaa; //  Grey
$color-alert: #d20017; // Red

$color-tertiary: #0ff; // Bright Blue
$color-button: #5f5f5f; // grey;
